# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Proof of concept.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\spedy\Proof of concept\.idea\.idea.Proof of concept\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
